<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive pt-1 animated fadeInUp">
            <p-table #dt [columns]="cols" [value]="citas" [paginator]="true" [rows]="15" [responsive]="true"
                [alwaysShowPaginator]="false" class="table table-bordered table-striped table-sm shadow rounded">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No hay citas registradas
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h4>Citas - Listado de citas registradas</h4>
                    <div style="text-align:center" class="pt-2">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Buscar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"
                            tooltip="Buscar por alguno de los campos de la tabla" placement="top">
                        <button [routerLink]="['/citas/cita']" type="button"
                            class="btn btn-dark btn-sm shadow rounded ml-3"><i class="fa fa-plus-square"
                                aria-hidden="true"></i>
                            Nueva Cita</button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th width="8%">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cit let-columns="columns">
                    <tr>
                        <td>{{cit.cliente.nombre}}</td>
                        <td>{{cit.clientesDirecciones != null ? cit.clientesDirecciones.direccion : ''}}</td>
                        <td>{{cit.fechaCita | date:'medium'}}</td>
                        <td>{{cit.quienLlamo.nombres}} {{cit.quienLlamo.apellidos}}</td>
                        <td>
                            <span class="badge badge-pill" [ngClass]="{'badge-secondary' : cit.estado.id == 1, 
                                            'badge-info' : cit.estado.id == 2, 
                                            'badge-danger' : cit.estado.id == 3, 
                                            'badge-primary' : cit.estado.id == 4, 
                                            'badge-success' : cit.estado.id == 5}">
                                {{cit.estado.nombre}}</span>
                        </td>
                        <td align="center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opciones">
                                <button type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="goForm(cit, false)"><i class="fa fa-eye fa-xs" aria-hidden="true"
                                        title="Ver Detalle"></i></button>
                                <button type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="goForm(cit, true)"><i class="fa fa-pencil-square-o fa-xs"
                                        aria-hidden="true" title="Editar Cita"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>