<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive pt-1 animated fadeInUp">
            <p-table #dt [columns]="cols" [value]="remisiones" [paginator]="true" [rows]="15" [responsive]="true"
                [alwaysShowPaginator]="false" class="table table-bordered table-striped table-sm shadow rounded">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No hay remisiones registradas
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h4>Remisiones - Listado de remisiones registradas</h4>
                    <div style="text-align:center" class="pt-2">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Buscar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"
                            tooltip="Buscar por alguno de los campos de la tabla" placement="top">
                        <button [routerLink]="['/facturacion/remisiones/remision']" type="button"
                            class="btn btn-dark btn-sm shadow rounded ml-3"><i class="fa fa-plus-square"
                                aria-hidden="true"></i>
                            Nueva Remisión</button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th width="8%">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rem let-columns="columns">
                    <tr>
                        <td>{{rem.consecutivo}}</td>
                        <td>{{rem.fechaRemision | date: 'mediumDate'}}</td>
                        <td>{{rem.cliente.nombre}}</td>
                        <td>{{rem.usuario.nombres}} {{rem.usuario.apellidos}}</td>
                        <td>{{rem.total | currency}}</td>
                        <td align="center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opciones">
                                <button type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="goForm(rem, false)"><i class="fa fa-eye fa-xs" aria-hidden="true"
                                        title="Ver Detalle"></i></button>
                                <button type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="goForm(rem, true)"><i class="fa fa-pencil-square-o fa-xs"
                                        aria-hidden="true" title="Editar Usuario"></i></button>
                                <button *ngIf="rem.url" type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="showImage(preview, rem.url)"><i class="fa fa-search fa-xs"
                                        aria-hidden="true" title="Ver Imagen Remisión"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template #preview>
                <ngx-doc-viewer [url]="urlImageRemision" viewer="google" style="width: 100vh; height: 75vh;">
                </ngx-doc-viewer>
            </ng-template>
        </div>
    </div>
</div>