<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Usuario - Formulario de Información de Usuario
                    </h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="usuarioForm" role="form"
                        (ngSubmit)="saveUsuario(usuarioForm.value, usuarioForm.valid)" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="nombres">Nombres</label>
                                <input placeholder="Nombres" id="nombres" name="nombres" afgNoWhitespace
                                    class="form-control form-control-sm shadow" formControlName="nombres"
                                    tooltip="Nombres del usuario" placement="top">
                                <afg-form-error *ngIf="usuarioForm.get('nombres').hasError('required') && submitted"
                                    [message]="'Ingrese los nombres'"></afg-form-error>
                                <afg-form-error *ngIf="!usuarioForm.get('nombres').valid && submitted"
                                    [message]="'Ingrese los nombres'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="apellidos">Apellidos</label>
                                <input pInputText placeholder="Apellidos" id="apellidos" name="apellidos"
                                    afgNoWhitespace class="form-control form-control-sm shadow"
                                    formControlName="apellidos" tooltip="Apellidos del usuario" placement="top">
                                <afg-form-error *ngIf="usuarioForm.get('apellidos').hasError('required') && submitted"
                                    [message]="'Ingrese los apellidos'"></afg-form-error>
                                <afg-form-error *ngIf="!usuarioForm.get('apellidos').valid && submitted"
                                    [message]="'Ingrese los apellidos'"></afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="correo">Correo</label>
                                <input pInputText placeholder="Correo" id="correo" name="correo"
                                    class="form-control form-control-sm shadow" formControlName="correo"
                                    (blur)="validateEmail()" tooltip="Correo del usuario" placement="top">
                                <afg-form-error *ngIf="usuarioForm.get('correo').hasError('required') && submitted"
                                    [message]="'Ingrese el correo'"></afg-form-error>
                                <afg-form-error *ngIf="usuarioForm.get('correo').hasError('pattern') && submitted"
                                    [message]="'Formato de Correo Invalido'"></afg-form-error>
                                <afg-form-error *ngIf="validEmail" [message]="'Ya existe un usuario con ese correo'">
                                </afg-form-error>
                            </div>
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="documento">Documento</label>
                                <input pInputText placeholder="Documento" id="documento" name="documento"
                                    class="form-control form-control-sm shadow" formControlName="documento"
                                    (blur)="validateDocumento()" tooltip="Documento del usuario" placement="top">
                                <afg-form-error *ngIf="usuarioForm.get('documento').hasError('required') && submitted"
                                    [message]="'Ingrese el documento'"></afg-form-error>
                                <afg-form-error *ngIf="usuarioForm.get('documento').hasError('pattern') && submitted"
                                    [message]="'Solo se permiten números'"></afg-form-error>
                                <afg-form-error *ngIf="usuarioForm.get('documento').hasError('maxlength') && submitted"
                                    [message]="'Longitud máxima de 10 números'"></afg-form-error>
                                <afg-form-error *ngIf="usuarioForm.get('documento').hasError('minlength') && submitted"
                                    [message]="'Longitud mínima de 5 números'"></afg-form-error>
                                <afg-form-error *ngIf="validDocument"
                                    [message]="'Ya existe un usuario con ese documento'">
                                </afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="rol">Rol</label>
                                <select class="form-control form-control-sm shadow" name="rol" id="rol"
                                    formControlName="rol" [compareWith]="compareFn"
                                    tooltip="Rol del usuario en la aplicación" placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let rol of roles" [ngValue]="rol">{{rol.nombre}}</option>
                                </select>
                                <afg-form-error *ngIf="usuarioForm.get('rol').hasError('required') && submitted"
                                    [message]="'Seleccione el Rol'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-2 animated zoomIn">
                                <div class="form-check">
                                    <input class="form-check-input shadow" type="checkbox" id="vendedor"
                                        formControlName="vendedor"
                                        tooltip="Flag que indica que el usuario puede ser vendedor en la aplicación"
                                        placement="top">
                                    <label class="form-check-label" for="vendedor">
                                        Vendedor
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 animated zoomIn">
                                <div class="form-check">
                                    <input class="form-check-input shadow" type="checkbox" id="acceso"
                                        formControlName="acceso"
                                        tooltip="Flag que indica que el usuario puede tener acceso a la aplicación"
                                        placement="top">
                                    <label class="form-check-label" for="acceso">
                                        Acceso
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 animated zoomIn">
                                <div class="form-check">
                                    <input class="form-check-input shadow" type="checkbox" id="activo"
                                        formControlName="activo"
                                        tooltip="Flag que indica que el usuario está activo en la aplicación"
                                        placement="top">
                                    <label class="form-check-label" for="activo">
                                        Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Usuario</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-sm btn-info text-white shadow rounded animated zoomIn"><i
                                        class="fa fa-plus-square" aria-hidden="true"></i> Nuevo Usuario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>