<div *ngIf="type == 'message'" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-check" aria-hidden="true"></i> {{message}}
</div>
<div *ngIf="type == 'error'" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-ban" aria-hidden="true"></i> {{message}}
</div>