<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-body">
                    <h5 class="card-header bg-dark text-white shadow rounded">Formulario de Cambio de Password de
                        Usuario</h5>
                    <form [formGroup]="changePasswordForm" role="form"
                        (ngSubmit)="changePass(changePasswordForm.value, changePasswordForm.valid)" novalidate
                        class="pt-2">
                        <hr>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="newPassword">Nuevo Password</label>
                                <input placeholder="Nuevo Password" id="newPassword" name="newPassword"
                                    class="form-control form-control-sm shadow" formControlName="newPassword"
                                    type="password" tooltip="Nuevo password de usuario" placement="top">
                                <afg-form-error
                                    *ngIf="changePasswordForm.get('newPassword').hasError('required') && submitted"
                                    [message]="'Ingrese el nuevo password'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="confirmNewPassword">Confirma Nuevo Password</label>
                                <input placeholder="Confirma Nuevo Password" id="confirmNewPassword"
                                    name="confirmNewPassword" class="form-control form-control-sm shadow"
                                    formControlName="confirmNewPassword" type="password"
                                    tooltip="Confirma nuevo password de usuario" placement="top">
                                <afg-form-error
                                    *ngIf="changePasswordForm.get('confirmNewPassword').hasError('required') && submitted"
                                    [message]="'Ingrese la confirmación del nuevo password'"></afg-form-error>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button type="submit" class="btn btn-success btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Cambiar Password</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>