<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Cliente - Formulario de Información de Cliente</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="clienteForm" role="form"
                        (ngSubmit)="saveCliente(clienteForm.value, clienteForm.valid)" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="nombre">Nombre Empresa</label>
                                <input placeholder="Nombre Empresa" id="nombre" name="nombre"
                                    class="form-control form-control-sm shadow" formControlName="nombre"
                                    (blur)="validateClientName($event.target.value)" tooltip="Nombre del cliente"
                                    placement="top">
                                <afg-form-error *ngIf="clienteForm.get('nombre').hasError('required') && submitted"
                                    [message]="'Ingrese el nombre'"></afg-form-error>
                                <afg-form-error *ngIf="errorNombre" [message]="'Ya existe un cliente con ese nombre'">
                                </afg-form-error>
                            </div>
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="nombreContacto">Nombre Contacto</label>
                                <input pInputText placeholder="Nombre Contacto" id="nombreContacto"
                                    name="nombreContacto" class="form-control form-control-sm shadow"
                                    formControlName="nombreContacto" tooltip="Nombre del contacto del cliente"
                                    placement="top">
                                <afg-form-error
                                    *ngIf="clienteForm.get('nombreContacto').hasError('required') && submitted"
                                    [message]="'Ingrese el nombre del contacto'"></afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2 animated zoomIn">
                                <label for="nit">NIT</label>
                                <input placeholder="NIT" id="nit" name="nit" class="form-control form-control-sm shadow"
                                    formControlName="nit" (blur)="validateClientNit($event.target.value)"
                                    (keypress)="validateInputNIT($event)" tooltip="NIT del cliente" placement="top">
                                <afg-form-error *ngIf="clienteForm.get('nit').hasError('required') && submitted"
                                    [message]="'Ingrese el nit'"></afg-form-error>
                                <afg-form-error *ngIf="clienteForm.get('nit').hasError('minlength') && submitted"
                                    [message]="'(NIT) Longitud mínima de 8 digitos'"></afg-form-error>
                                <afg-form-error *ngIf="errorNIT" [message]="'Ya existe un cliente con ese NIT'">
                                </afg-form-error>
                            </div>
                            <div class="form-group col-lg-4 animated zoomIn">
                                <label for="telefono">Teléfono</label>
                                <input placeholder="Teléfono" id="telefono" name="telefono"
                                    class="form-control form-control-sm shadow" formControlName="telefono"
                                    tooltip="Teléfono de contacto del cliente" placement="top"
                                    (keypress)="validateInputPhone($event)">
                                <afg-form-error *ngIf="clienteForm.get('telefono').hasError('required') && submitted"
                                    [message]="'Ingrese el teléfono'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-6 animated zoomIn">
                                <label for="correo">Correo</label>
                                <input pInputText placeholder="Correo" id="correo" name="correo"
                                    class="form-control form-control-sm shadow" formControlName="correo"
                                    (blur)="validateClientCorreo($event.target.value)"
                                    tooltip="Correo de contacto del cliente" placement="top">
                                <afg-form-error *ngIf="clienteForm.get('correo').hasError('email') && submitted"
                                    [message]="'Formato correo invalido'"></afg-form-error>
                                <afg-form-error *ngIf="errorEmail" [message]="'Ya existe un cliente con ese correo'">
                                </afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 animated zoomIn">
                                <div formArrayName="direcciones">
                                    <label for="button-addon2">Direcciones</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" placeholder="Dirección"
                                            aria-label="Dirección" aria-describedby="button-addon2" #direccion
                                            tooltip="Ingrese la(s) direccion(es) del cliente" placement="top">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                                (click)="addDireccionRowToForm(direccion.value)"><i
                                                    class="fa fa-floppy-o"></i>
                                                Guardar
                                                Dirección</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm shadow rounded">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th width="5%"></th>
                                                    <th width="5%">#</th>
                                                    <th>Dirección</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let dir of clienteForm.get('direcciones')['controls']; let i = index"
                                                    [formGroupName]="i">
                                                    <td>
                                                        <input type="radio" name="direcciongroup"
                                                            [value]="direccionRadio"
                                                            (click)="loadEditDireccion(dir.get('direccion').value)">
                                                    </td>
                                                    <td>{{i+1}}</td>
                                                    <td>{{dir.get('direccion').value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 animated zoomIn">
                                <label for="usuario">Usuario</label>
                                <select class="form-control form-control-sm shadow rounded" name="usuario" id="usuario"
                                    formControlName="usuario" [compareWith]="compareFnUsuarios"
                                    tooltip="Usuario propietario del Cliente" placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let usu of usuarios" [ngValue]="usu">{{usu.nombres}}
                                        {{usu.apellidos}}</option>
                                </select>
                                <afg-form-error *ngIf="clienteForm.get('usuario').hasError('required') && submitted"
                                    [message]="'Seleccione el Usuario'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-2 animated zoomIn">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="activo"
                                        formControlName="activo" tooltip="Flag que indica si el cliente está activo"
                                        placement="top">
                                    <label class="custom-control-label" for="activo">Activo</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success text-white btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Cliente</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-sm btn-info shadow rounded animated zoomIn"><i
                                        class="fa fa-plus-square" aria-hidden="true"></i> Nuevo Cliente</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>