<block-ui>
    <div class="back-login">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5 animated zoomIn">
                        <img class="card-img-top" src="https://s3.amazonaws.com/afg-uploads/logo.png" alt="Login">
                        <div class="card-body">
                            <h3 class="card-title text-center">Ingreso</h3>
                            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate role="form" class="form-signin">
                                <div class="input-group animated zoomIn">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="login" class="form-control" placeholder="Login" formControlName="login" tooltip="Correo o documento del usuario" placement="top">
                                </div>
                                <afg-form-error *ngIf="loginForm.get('login').hasError('required') && submitted" [message]="'El login es requerido'"></afg-form-error>
                                <div class="input-group pt-2 animated zoomIn">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password" tooltip="Password del usuario" placement="top">
                                </div>
                                <afg-form-error *ngIf="loginForm.get('password').hasError('required') && submitted" [message]="'El password es requerido'"></afg-form-error>
                                <div class="row pt-2">
                                    <div class="col-12">
                                        <afg-messages></afg-messages>
                                        <button class="float-right btn btn-dark shadow rounded animated zoomIn" type="submit">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                                            Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block-ui>