<div class="wrapper">
    <nav id="sidebar" class="shadow">
        <div class="sidebar-header shadow">
            <h3>InventarioAFG</h3>
            <strong>AFG</strong>
        </div>
        <ul class="list-unstyled components">
            <p>Bienvenido <br><strong>{{userLogged}}</strong></p>
            <li class="active">
                <a href="#adminSubmenu" class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Administración
                </a>
                <ul class="collapse list-unstyled" id="adminSubmenu">
                    <li *ngIf="rolName == 'Administrador'">
                        <a class="dropdown-item" [routerLink]="['/admin/usuarios']"><i class="fa fa-users"
                                aria-hidden="true"></i> Usuarios</a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['/admin/clientes']"><i class="fa fa-building"
                                aria-hidden="true"></i>
                            Clientes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['/admin/productos']"><i class="fa fa-fire-extinguisher"
                                aria-hidden="true"></i>
                            Productos</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#citasSubmenu" class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Citas
                </a>
                <ul class="collapse list-unstyled" id="citasSubmenu">
                    <li>
                        <a class="dropdown-item" [routerLink]="['/citas']"><i class="fa fa-calendar-o"
                                aria-hidden="true"></i> Citas</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#facturacionSubmenu" class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa fa-money" aria-hidden="true"></i> Facturación
                </a>
                <ul class="collapse list-unstyled" id="facturacionSubmenu">
                    <li>
                        <a class="dropdown-item" [routerLink]="['/facturacion/remisiones']"><i class="fa fa-handshake-o"
                                aria-hidden="true"></i> Remisiones</a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['/facturacion/facturas']"><i class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> Facturas</a>
                    </li>
                    <li *ngIf="rolName == 'Administrador'">
                        <a class="dropdown-item" [routerLink]="['/facturacion/inversiones']"><i class="fa fa-money"
                                aria-hidden="true"></i> Inversiones</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <button type="button" id="sidebarCollapse" class="btn shadow rounded"
                style="color: white; background-color: #E7B432;">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse pl-5" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="navbar-brand" [routerLink]="['/home']">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav pr-5">
                    <li>
                        <div class="dropdown">
                            <div class="btn-group dropleft">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" [routerLink]="['/change-password']"><i
                                            class="fa fa-user-secret" aria-hidden="true"></i> Cambiar Password</a>
                                    <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i>
                                        Cerrar Sesión</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>