<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Cita - Formulario de Información de
                        Cita</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="citaForm" role="form" (ngSubmit)="saveCita(citaForm.value, citaForm.valid)"
                        novalidate>
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="cliente">Cliente</label>
                                <input placeholder="Cliente" id="cliente" name="cliente"
                                    class="form-control form-control-sm shadow rounded" formControlName="cliente"
                                    type="text" [typeahead]="clientesDS" [typeaheadMinLength]="3"
                                    typeaheadOptionField="nombre" (typeaheadOnSelect)="onSelectCliente($event)"
                                    tooltip="Cliente para la cita" placement="top">
                                <afg-form-error *ngIf="citaForm.get('cliente').hasError('required') && submitted"
                                    [message]="'Ingrese el Cliente'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="direccion">Dirección Cliente</label>
                                <select class="form-control form-control-sm shadow rounded" name="direccion"
                                    id="direccion" formControlName="clientesDirecciones"
                                    [compareWith]="compareFnDirecciones" tooltip="Dirección del cliente para la cita"
                                    placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let dir of direcciones" [ngValue]="dir">{{dir.direccion}}</option>
                                </select>
                                <afg-form-error
                                    *ngIf="citaForm.get('clientesDirecciones').hasError('required') && submitted"
                                    [message]="'Seleccione la Dirección'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="quienLlamo">Quién Llamo</label>
                                <select name="quienLlamo" id="quienLlamo"
                                    class="form-control form-control-sm shadow rounded" formControlName="quienLlamo"
                                    [compareWith]="compareFnQuienLlamo" tooltip="Usuario que llamó y registró la cita"
                                    placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let usu of usuarios" [ngValue]="usu">{{usu.nombres}}
                                        {{usu.apellidos}}</option>
                                </select>
                                <afg-form-error *ngIf="citaForm.get('quienLlamo').hasError('required') && submitted"
                                    [message]="'Seleccione quien llamo'"></afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4 animated zoomIn">
                                <label for="fechaCita">Fecha Cita</label>
                                <input placeholder="Fecha Cita" id="fechaCita" name="fechaCita"
                                    class="form-control form-control-sm shadow rounded" formControlName="fechaCita"
                                    type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    [minDate]="minDate" tooltip="Fecha de la cita" placement="bottom">
                                <afg-form-error *ngIf="citaForm.get('fechaCita').hasError('required') && submitted"
                                    [message]="'Ingrese la Fecha Cita'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="timeCita">Hora Cita</label>
                                <timepicker formControlName="timeCita" tooltip="Hora de la cita" placement="top">
                                </timepicker>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="estado">Estado</label>
                                <select name="estado" id="estado" class="form-control form-control-sm shadow rounded"
                                    formControlName="estado" [compareWith]="compareFnEstados"
                                    tooltip="Estado de la cita" placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let est of estados" [ngValue]="est">{{est.nombre}}</option>
                                </select>
                                <afg-form-error *ngIf="citaForm.get('estado').hasError('required') && submitted"
                                    [message]="'Seleccione el estado de la Cita'"></afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 animated zoomIn">
                                <label for="observaciones">Observaciones</label>
                                <textarea name="observaciones" id="observaciones" rows="5"
                                    class="form-control form-control-sm shadow rounded" formControlName="observaciones"
                                    tooltip="Observaciones respecto a la cita" placement="top"></textarea>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Cita</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-sm btn-info shadow rounded animated zoomIn"><i
                                        class="fa fa-plus-square" aria-hidden="true"></i> Nueva Cita</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>