<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive pt-1 animated fadeInUp">
            <p-table #dt [columns]="cols" [value]="facturas" [paginator]="true" [rows]="15" [responsive]="true"
                [alwaysShowPaginator]="false" class="table table-bordered table-striped table-sm shadow rounded">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No hay facturas registradas
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h4>Facturas - Listado de facturas registradas</h4>
                    <div style="text-align:center" class="pt-2">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Buscar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"
                            tooltip="Buscar por alguno de los campos de la tabla" placement="top">
                        <button [routerLink]="['/facturacion/facturas/factura']" type="button"
                            class="btn btn-dark btn-sm shadow rounded ml-3"><i class="fa fa-plus-square"
                                aria-hidden="true"></i>
                            Nueva Factura</button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th width="8%">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fac let-columns="columns">
                    <tr>
                        <td>{{fac.consecutivo}}</td>
                        <td>{{fac.fechaFactura | date}}</td>
                        <td>{{fac.cliente.nombre}}</td>
                        <td>{{fac.usuario.nombres}} {{fac.usuario.apellidos}}</td>
                        <td>{{fac.total | currency}}</td>
                        <td>
                            <span class="badge badge-pill" [ngClass]="{'badge-warning' : fac.facturasEstado.id == 2,
                                            'badge-danger' : fac.facturasEstado.id == 3, 
                                            'badge-success' : fac.facturasEstado.id == 1}">
                                {{fac.facturasEstado.nombre}}</span>
                        </td>
                        <td align="center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opciones">
                                <button type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="goForm(fac, false)"><i class="fa fa-eye fa-xs" aria-hidden="true"
                                        title="Ver Detalle"></i></button>
                                <button *ngIf="fac.facturasEstado.id == 2" type="button"
                                    class="btn btn-dark btn-sm shadow rounded" (click)="goForm(fac, true)"><i
                                        class="fa fa-pencil-square-o fa-xs" aria-hidden="true"
                                        title="Editar Factura"></i></button>
                                <button *ngIf="fac.facturasEstado.id == 2" type="button"
                                    class="btn btn-dark btn-sm shadow rounded"
                                    (click)="changeStatusInvoice(1, fac.id)"><i class="fa fa-money fa-xs"
                                        aria-hidden="true" title="Pagar Factura"></i></button>
                                <button *ngIf="fac.facturasEstado.id == 2" type="button"
                                    class="btn btn-dark btn-sm shadow rounded"
                                    (click)="changeStatusInvoice(3, fac.id)"><i class="fa fa-ban fa-xs"
                                        aria-hidden="true" title="Anular Factura"></i></button>
                                <button *ngIf="fac.url" type="button" class="btn btn-dark btn-sm shadow rounded"
                                    (click)="showImage(preview, fac.url)"><i class="fa fa-search fa-xs"
                                        aria-hidden="true" title="Ver Imagen Factura"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template #preview>
                <ngx-doc-viewer [url]="urlImageFactura" viewer="google" style="width: 100vh; height: 75vh;">
                </ngx-doc-viewer>
            </ng-template>
        </div>
    </div>
</div>