<div class="row">
    <div class="col">
        <div class="card shadow rounded">
            <div class="card-header text-center bg-dark text-white font-weight-bold">
                <span>{{sourceHeader}}</span>
            </div>
            <div class="card-body ml-0 mr-0 pr-0 pl-0">
                <div class="input-group input-group-sm ml-0 pl-0">
                    <input type="text" class="form-control" placeholder="{{sourcePlaceholder}}" #querySource>
                </div>
                <hr>
                <select #sourceSelect multiple class="form-control" size="5" id="selSource">
                    <ng-template ngFor let-item [ngForOf]="source | filterByItemPickList: querySource.value"
                        let-i="index">
                        <option (click)="onItemSelected($event,item,selectedItemsSource)">
                            <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item, index: i}">
                            </ng-container>
                        </option>
                    </ng-template>
                </select>
            </div>
        </div>
    </div>
    <div *ngIf="!disabled" class="col-1">
        <div class="btn-group-vertical btn-group mt-5 w-100">
            <button type="button" class="btn btn-info btn-block" (click)="moveRight()"><i
                    class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i></button>
            <button *ngIf="enableAllButtons" type="button" class="btn btn-info btn-block" (click)="moveAllRight()"><i
                    class="fa fa-angle-double-right font-weight-bold" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-block" (click)="moveLeft()"><i
                    class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i></button>
            <button *ngIf="enableAllButtons" type="button" class="btn btn-info btn-block" (click)="moveAllLeft()"><i
                    class="fa fa-angle-double-left font-weight-bold" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="col">
        <div class="card shadow rounded">
            <div class="card-header text-center bg-dark text-white font-weight-bold">
                <span>{{targetHeader}}</span>
            </div>
            <div class="card-body ml-0 mr-0 pr-0 pl-0">
                <div class="input-group input-group-sm ml-0 pl-0">
                    <input type="text" class="form-control" placeholder="{{targetPlaceholder}}" #queryTarget>
                </div>
                <hr>
                <select #targetSelect multiple class="form-control" size="5" id="selTarget">
                    <ng-template ngFor let-item [ngForOf]="target | filterByItemPickList: queryTarget.value"
                        let-i="index">
                        <option (click)="onItemSelected($event,item,selectedItemsTarget)">
                            <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item, index: i}">
                            </ng-container>
                        </option>
                    </ng-template>
                </select>
            </div>
        </div>
    </div>
</div>