/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  min-height: 100%;
}

div.block-ui-wrapper {
  background-color: rgba(212, 205, 205, 0.7);
}

div.block-ui-wrapper .loader {
  border-color: #fff;
  border-left-color: #fe9a2e;
}

div.block-ui-spinner .message {
  color: #fe9a2e;
}

.ui-picklist-buttons .ui-picklist-buttons-cell button[icon="pi pi-angle-double-left"] {
  display: none !important;
}

.ui-picklist-buttons .ui-picklist-buttons-cell button[icon="pi pi-angle-double-right"] {
  display: none !important;
}
