<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive pt-1 animated fadeInUp">
            <p-table #dt [columns]="cols" [value]="usuarios" [paginator]="true" [rows]="10" [responsive]="true"
                [alwaysShowPaginator]="false" class="table table-bordered table-striped table-sm shadow rounded">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No hay usuarios registrados
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h4>Usuarios - Listado de usuarios registrados</h4>
                    <div style="text-align:center" class="pt-2">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto" tooltip="Buscar por alguno de los campos de la tabla" placement="top">
                        <button [routerLink]="['/admin/usuarios/usuario']" type="button" class="btn btn-dark btn-sm shadow rounded ml-3"><i
                                class="fa fa-plus-square" aria-hidden="true"></i>
                            Nuevo Usuario</button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th width="8%">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usu let-columns="columns">
                    <tr>
                        <td>{{usu.nombres}}</td>
                        <td>{{usu.apellidos}}</td>
                        <td>{{usu.correo}}</td>
                        <td>{{usu.documento}}</td>
                        <td>{{usu.rol.nombre}}</td>
                        <td>
                            <span class="badge badge-pill" [ngClass]="{'badge-success' : usu.activo, 'badge-danger' : !usu.activo}">
                                {{usu.activo ? 'Activo' : 'Inactivo'}}</span>
                        </td>
                        <td align="center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opciones">
                                <button type="button" class="btn btn-dark btn-sm shadow rounded" (click)="goForm(usu, false)"><i
                                        class="fa fa-eye fa-xs" aria-hidden="true" title="Ver Detalle"></i></button>
                                <button type="button" class="btn btn-dark btn-sm shadow rounded" (click)="goForm(usu, true)"><i
                                        class="fa fa-pencil-square-o fa-xs" aria-hidden="true" title="Editar Usuario"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>