<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Inversión - Formulario de Información de la Inversión</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="inversionForm" role="form"
                        (ngSubmit)="saveInversion(inversionForm.value, inversionForm.valid)" novalidate>
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="consecutivo">Consecutivo Factura</label>
                                <ng-template #invoiceItemTemplate let-model="item" let-index="index">
                                    <h6>{{model.consecutivo}} - {{model.cliente.nombre}} - {{model.fechaFactura}}</h6>
                                </ng-template>
                                <input placeholder="Consecutivo Factura" id="factura" name="factura" type="text"
                                    class="form-control form-control-sm shadow rounded" formControlName="factura"
                                    [typeahead]="facturasDS" [typeaheadMinLength]="1" typeaheadOptionField="consecutivo"
                                    [typeaheadItemTemplate]="invoiceItemTemplate" tooltip="Factura para la Inversión"
                                    (typeaheadOnSelect)="onSelectInvoice($event)" placement="top">
                                <afg-form-error *ngIf="inversionForm.get('factura').hasError('required') && submitted"
                                    [message]="'Ingrese el Consecutivo de la Factura'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="usuario">Usuario</label>
                                <select class="form-control form-control-sm shadow rounded" name="usuario" id="usuario"
                                    formControlName="usuario" [compareWith]="compareFnUsuarios"
                                    tooltip="Usuario dueño de la Factura" placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let usu of usuarios" [ngValue]="usu">{{usu.nombres}}
                                        {{usu.apellidos}}</option>
                                </select>
                                <afg-form-error *ngIf="inversionForm.get('usuario').hasError('required') && submitted"
                                    [message]="'Seleccione el Usuario'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="fecha">Fecha</label>
                                <input placeholder="Fecha Inversión" id="fecha" name="fecha"
                                    class="form-control form-control-sm shadow rounded" formControlName="fecha"
                                    type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    tooltip="Fecha de la Inversión" placement="bottom">
                                <afg-form-error *ngIf="inversionForm.get('fecha').hasError('required') && submitted"
                                    [message]="'Seleccione la Fecha Inversión'"></afg-form-error>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 animated zoomIn">
                                <afg-pick-list [source]="productosDisponibles" [target]="productosSeleccionados"
                                    [sourceHeader]="'Productos Disponibles'" [targetHeader]="'Productos Seleccionados'"
                                    [sourcePlaceholder]="'Buscar por nombre de producto'"
                                    [targetPlaceholder]="'Buscar por nombre de producto'"
                                    [disabled]="inversionForm.disabled" (onMoveToTarget)="addProduct($event)"
                                    (onMoveAllToTarget)="addAllProducts($event)"
                                    (onMoveToSource)="removeProduct($event)" (onMoveAllToSource)="removeAllProducts()"
                                    tooltip="Productos de la inversión" placement="top">
                                    <ng-template let-pro pTemplate="item">
                                        {{pro.codigo}} - {{pro.nombre}}
                                    </ng-template>
                                </afg-pick-list>
                                <afg-form-error *ngIf="productosSeleccionados.length < 1 && submitted"
                                    [message]="'Seleccione al menos un Producto para la Inversión'"></afg-form-error>
                            </div>
                            <div *ngIf="productosSeleccionados.length > 0"
                                class="table-responsive ml-3 mr-3 pt-1 animated zoomIn"
                                formArrayName="productosXInversion">
                                <table class="table table-bordered table-striped table-sm shadow rounded">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="10%">Código</th>
                                            <th>Producto</th>
                                            <th width="15%">Precio</th>
                                            <th width="5%">Cantidad</th>
                                            <th width="15%">Valor Venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prod of inversionForm.get('productosXInversion')['controls']; let i = index"
                                            [formGroupName]="i">
                                            <td class="text-center">{{i+1}}</td>
                                            <td class="text-justify">{{prod.get('codigo').value}}</td>
                                            <td class="text-justify">{{prod.get('nombre').value}}</td>
                                            <td>
                                                <input currencyMask formControlName="precioUnidad"
                                                    class="form-control form-control-sm shadow rounded animated zoomIn"
                                                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',', allowNegative: false, precision: 0 }"
                                                    tooltip="Precio unitario del producto de la inversión"
                                                    placement="top" />
                                                <afg-form-error
                                                    *ngIf="prod.get('precioUnidad').hasError('required') && submitted"
                                                    [message]="'Ingrese el precio del producto'"></afg-form-error>
                                                <afg-form-error
                                                    *ngIf="prod.get('precioUnidad').hasError('min') && submitted"
                                                    [message]="'El precio debe ser mayor a 0'"></afg-form-error>
                                            </td>
                                            <td>
                                                <input type="text" formControlName="cantidad"
                                                    [value]="prod.get('cantidad').value"
                                                    class="form-control form-control-sm shadow rounded animated zoomIn"
                                                    tooltip="Cantidad de producto de la inversión" placement="top">
                                                <afg-form-error
                                                    *ngIf="prod.get('cantidad').hasError('required') && submitted"
                                                    [message]="'Ingrese la cantidad del producto'"></afg-form-error>
                                                <afg-form-error
                                                    *ngIf="prod.get('cantidad').hasError('min') && submitted"
                                                    [message]="'La cantidad debe ser mayor a 0'"></afg-form-error>
                                            </td>
                                            <td class="text-right">{{prod.get('valorVenta').value | currency}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="inversionForm.get('productosXInversion')['controls'].length > 0">
                                        <tr>
                                            <th colspan="4"></th>
                                            <th>Total:</th>
                                            <th class="text-right">{{inversion.total | currency}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Inversión</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-info btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-plus-square" aria-hidden="true"></i> Nueva Inversión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>