<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Producto - Formulario de Información
                        de Producto</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="productoForm" role="form"
                        (ngSubmit)="saveProducto(productoForm.value, productoForm.valid)" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-4 animated zoomIn">
                                <label for="codigo">Código</label>
                                <input placeholder="Código" id="codigo" name="codigo"
                                    class="form-control form-control-sm shadow" formControlName="codigo"
                                    tooltip="Código único del producto" placement="top"
                                    (blur)="validateProductCode($event.target.value)">
                                <afg-form-error *ngIf="productoForm.get('codigo').hasError('required') && submitted"
                                    [message]="'Ingrese el código'"></afg-form-error>
                                <afg-form-error *ngIf="!validCode"
                                    [message]="'Código ya registrado para otro producto'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-4 animated zoomIn">
                                <label for="nombre">Nombre</label>
                                <input placeholder="Nombre" id="nombre" name="nombre"
                                    class="form-control form-control-sm shadow" formControlName="nombre"
                                    tooltip="Nombre del producto" placement="top">
                                <afg-form-error
                                    *ngIf="productoForm.get('nombre').hasError('required') && submitted"
                                    [message]="'Ingrese el nombre'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-4 animated zoomIn">
                                <label for="precioUnidad">Precio Unidad</label>
                                <input currencyMask
                                    [options]="{ prefix: '$ ', align: 'left', thousands: '.', decimal: ',', allowNegative: false, precision: 0}"
                                    placeholder="Precio Unidad" id="precioUnidad" name="precioUnidad"
                                    class="form-control form-control-sm shadow" formControlName="precioUnidad"
                                    tooltip="Precio unitario del producto" placement="top">
                                <afg-form-error
                                    *ngIf="productoForm.get('precioUnidad').hasError('required') && submitted"
                                    [message]="'Ingrese el precio de unidad'"></afg-form-error>
                                <afg-form-error *ngIf="productoForm.get('precioUnidad').hasError('min') && submitted"
                                    [message]="'El precio de unidad debe ser mayor a 0'"></afg-form-error>
                                <afg-form-error *ngIf="errorMaxPrice && submitted"
                                    [message]="'El precio de unidad solo puede guardar 11 digitos'"></afg-form-error>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="form-group col-lg-8 animated zoomIn">
                                <label for="descripcion">Descripción</label>
                                <textarea name="descripcion" id="descripcion"
                                    class="form-control form-control-sm shadow" rows="5"
                                    placeholder="Descripción del Producto" formControlName="descripcion"
                                    tooltip="Descripción del producto" placement="top"></textarea>
                                <afg-form-error
                                    *ngIf="productoForm.get('descripcion').hasError('required') && submitted"
                                    [message]="'Ingrese la descripcion'"></afg-form-error>
                            </div>
                            <div class="form-group col-lg-2 animated zoomIn">
                                <div class="form-check">
                                    <input class="form-check-input shadow" type="checkbox" id="activo"
                                        formControlName="activo" tooltip="Flag que indica si el producto está activo"
                                        placement="top">
                                    <label class="form-check-label" for="activo">
                                        Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success btn-sm shadow rounded animated zoomIn"><i class="fa fa-floppy-o"
                                        aria-hidden="true"></i> Guardar Producto</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn" (click)="cancelar()"><i
                                        class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-sm btn-info shadow rounded animated zoomIn"><i class="fa fa-plus-square"
                                        aria-hidden="true"></i> Nuevo Producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>