<block-ui>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-light shadow rounded animated slideInRight">
                <div class="card-header bg-dark text-white shadow rounded">
                    <h5>Remisión - Formulario de Información
                        de la Remisión</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="remisionForm" role="form"
                        (ngSubmit)="saveRemision(remisionForm.value, remisionForm.valid)" novalidate>
                        <div class="row">
                            <div class="form-group col-2 animated zoomIn">
                                <label for="consecutivo">Consecutivo</label>
                                <input placeholder="Consecutivo" id="consecutivo" name="consecutivo"
                                    class="form-control form-control-sm shadow rounded" formControlName="consecutivo"
                                    tooltip="Consecutivo de la remisión" placement="top">
                                <afg-form-error
                                    *ngIf="remisionForm.get('consecutivo').hasError('required') && submitted"
                                    [message]="'Ingrese el Consecutivo'"></afg-form-error>
                            </div>
                            <div class="form-group col-2 animated zoomIn">
                                <label for="fechaRemision">Fecha Remisión</label>
                                <input placeholder="Fecha Remisión" id="fechaRemision" name="fechaRemision"
                                    class="form-control form-control-sm shadow rounded" formControlName="fechaRemision"
                                    type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    tooltip="Fecha de la remisión" placement="bottom">
                                <afg-form-error
                                    *ngIf="remisionForm.get('fechaRemision').hasError('required') && submitted"
                                    [message]="'Ingrese la Fecha Remisión'"></afg-form-error>
                            </div>
                            <div class="form-group col-4">
                                <label for="cliente">Cliente</label>
                                <input placeholder="Cliente" id="cliente" name="cliente"
                                    class="form-control form-control-sm shadow rounded" formControlName="cliente"
                                    type="text" [typeahead]="clientesDS" [typeaheadMinLength]="3"
                                    typeaheadOptionField="nombre" (typeaheadOnSelect)="onSelectCliente($event)"
                                    tooltip="Cliente de la remisión" placement="top">
                                <afg-form-error *ngIf="remisionForm.get('cliente').hasError('required') && submitted"
                                    [message]="'Ingrese el Cliente'"></afg-form-error>
                            </div>
                            <div class="form-group col-4 animated zoomIn">
                                <label for="direccion">Dirección Cliente</label>
                                <select class="form-control form-control-sm shadow rounded" name="direccion"
                                    id="direccion" formControlName="clientesDirecciones"
                                    [compareWith]="compareFnDirecciones" tooltip="Dirección del Cliente de la remisión"
                                    placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let dir of direcciones" [ngValue]="dir">{{dir.direccion}}</option>
                                </select>
                                <afg-form-error
                                    *ngIf="remisionForm.get('clientesDirecciones').hasError('required') && submitted"
                                    [message]="'Seleccione la Dirección'"></afg-form-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4 animated zoomIn">
                                <label for="usuario">Usuario</label>
                                <select class="form-control form-control-sm shadow rounded" name="usuario" id="usuario"
                                    formControlName="usuario" [compareWith]="compareFnUsuarios"
                                    tooltip="Usuario dueño de la remisión" placement="top">
                                    <option value="null">--Seleccione--</option>
                                    <option *ngFor="let usu of usuarios" [ngValue]="usu">{{usu.nombres}}
                                        {{usu.apellidos}}</option>
                                </select>
                                <afg-form-error *ngIf="remisionForm.get('usuario').hasError('required') && submitted"
                                    [message]="'Seleccione el Usuario'"></afg-form-error>
                            </div>
                            <div class="form-group col-8 animated zoomIn">
                                <label for="observaciones">Observaciones</label>
                                <textarea name="observaciones" id="observaciones" rows="4"
                                    class="form-control form-control-sm shadow rounded" formControlName="observaciones"
                                    tooltip="Observaciones sobre la remisión" placement="top"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 animated zoomIn">
                                <p-pickList [source]="productosDisponibles" [target]="productosSeleccionados"
                                    [responsive]="true" [disabled]="remisionForm.disabled"
                                    [sourceHeader]="'Productos Disponibles'" [targetHeader]="'Productos Seleccionados'"
                                    [showSourceControls]="false" [showTargetControls]="false" filterBy="codigo,nombre"
                                    [sourceFilterPlaceholder]="'Buscar Productos Disponibles'"
                                    [targetFilterPlaceholder]="'Buscar Productos Seleccionados'"
                                    (onMoveToTarget)="addProduct($event)" (onMoveToSource)="removeProduct($event)">
                                    <ng-template let-pro pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div style="font-size:14px;float:left;">{{pro.codigo}} -
                                                {{pro.nombre}}</div>
                                        </div>
                                    </ng-template>
                                </p-pickList>
                                <afg-form-error *ngIf="productosSeleccionados.length < 1 && submitted"
                                    [message]="'Seleccione al menos un Producto para la Remisión'"></afg-form-error>
                            </div>
                            <div *ngIf="productosSeleccionados.length > 0"
                                class="table-responsive ml-3 mr-3 pt-1 animated zoomIn"
                                formArrayName="productosXRemision">
                                <table class="table table-bordered table-striped table-sm shadow rounded">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="10%">Código</th>
                                            <th>Producto</th>
                                            <th width="15%">Precio</th>
                                            <th width="5%">Cantidad</th>
                                            <th width="15%">Valor Venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prod of remisionForm.get('productosXRemision')['controls']; let i = index"
                                            [formGroupName]="i">
                                            <td class="text-center">{{i+1}}</td>
                                            <td class="text-justify">{{prod.get('codigo').value}}</td>
                                            <td class="text-justify">{{prod.get('nombre').value}}</td>
                                            <td>
                                                <input currencyMask formControlName="precioUnidad"
                                                    class="form-control form-control-sm shadow rounded animated zoomIn"
                                                    [options]="{ prefix: '$ ', thousands: '.', decimal: ',', allowNegative: false, precision: 0 }"
                                                    tooltip="Precio unitario del producto de la remisión"
                                                    placement="top" />
                                                <afg-form-error
                                                    *ngIf="prod.get('precioUnidad').hasError('required') && submitted"
                                                    [message]="'Ingrese el precio del producto'"></afg-form-error>
                                                <afg-form-error
                                                    *ngIf="prod.get('precioUnidad').hasError('min') && submitted"
                                                    [message]="'El precio debe ser mayor a 0'"></afg-form-error>
                                            </td>
                                            <td>
                                                <input type="text" formControlName="cantidad"
                                                    [value]="prod.get('cantidad').value"
                                                    class="form-control form-control-sm shadow rounded animated zoomIn"
                                                    tooltip="Cantidad de producto de la remisión" placement="top">
                                                <afg-form-error
                                                    *ngIf="prod.get('cantidad').hasError('required') && submitted"
                                                    [message]="'Ingrese la cantidad del producto'"></afg-form-error>
                                                <afg-form-error
                                                    *ngIf="prod.get('cantidad').hasError('min') && submitted"
                                                    [message]="'La cantidad debe ser mayor a 0'"></afg-form-error>
                                            </td>
                                            <td class="text-right">{{prod.get('valorVenta').value | currency}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="remisionForm.get('productosXRemision')['controls'].length > 0">
                                        <tr>
                                            <th colspan="4"></th>
                                            <th>Subtotal:</th>
                                            <th class="text-right">{{remision.subtotal | currency}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th>IVA:</th>
                                            <th class="text-right">{{remision.iva | currency}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th>Total:</th>
                                            <th class="text-right">{{remision.total | currency}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <afg-messages></afg-messages>
                        <div class="row">
                            <div class="col 12">
                                <button *ngIf="isEdit || isNew" type="submit"
                                    class="btn btn-success btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Remisión</button>
                                <button type="button" class="btn btn-link btn-sm shadow rounded animated zoomIn"
                                    (click)="cancelar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Regresar</button>
                                <button *ngIf="isEdit" (click)="cleanForm()" type="button"
                                    class="btn btn-info btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-plus-square" aria-hidden="true"></i> Nueva Remisión</button>
                                <button *ngIf="isEdit" (click)="showModalUploadImage(template)" type="button"
                                    class="btn btn-info btn-sm shadow rounded animated zoomIn"><i
                                        class="fa fa-cloud-upload" aria-hidden="true"></i> Cargar Imagen
                                    Remisión</button>
                            </div>
                        </div>
                        <ng-template #template>
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Cargar Imagen Remisión</h4>
                                <button type="button" class="close pull-right" aria-label="Close"
                                    (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="custom-file">
                                        <input #imageInput type="file" class="custom-file-input" id="image"
                                            accept="application/pdf" (change)="onFileChanged(imageInput)"
                                            tooltip="Imagen de la remisión" placement="top">
                                        <label class="custom-file-label" for="image">Seleccione Imagen</label>
                                    </div>
                                </div>
                                <div *ngIf="imageRemision" class="row pt-2">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="card">
                                            <div class="card-header">
                                                Información Imagen
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong>Archivo:</strong>
                                                    {{imageRemision.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="imageRemision" class="modal-footer">
                                <button type="button" class="btn btn-info btn-sm shadow rounded"
                                    (click)="uploadFile()"><i class="fa fa-upload" aria-hidden="true"></i>
                                    Cargar Imagen</button>
                            </div>
                        </ng-template>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block-ui>